<h1>Reports</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <tr>
      	<td><%= report.report_date %></td>
      	<td><%= report.report_user %></td>
        <td><%= report.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Generate New Report', reports_create_path %>
